
.ticker-reunert
{
float:right;
color:#fff;
font-size:12px;
}
.ticker-reunert span
{
font-size:10px;
}









.pop-up-const {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.393);
    backdrop-filter: blur(10px);
    z-index: 9999;
    top: 0;
    left: 0;
}

.pop-up-const .inner-holder {
    position: relative;
    max-width: 500px;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #fff;
}

.pop-up-const .inner-holder::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
}

.pop-up-const .inner-holder p {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
}

.pop-up-const .inner-holder p.content {
    font-size: 17px;
    font-weight: 600;
}

.pop-up-const button {
    border: none;
    padding: 10px 30px;
    background-color: #43A9AC;
    color: #fff;
    font-weight: 700;
}


.pop-up-const a {
    color: #fff;
}

button.close {
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}


.cont {
    position: relative;
    z-index: 1;
}







.top-foot-bg {
    background-color: #43A9AC;
    padding: 30px 0;
    margin-top: 50px;
}

.set-apart {
    display: flex;
    justify-content: space-between;
    place-items: center;
}

a.controls {
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    color: #1F4650;
    display: flex;
    place-items: center;
    font-family: "Manrope", sans-serif;
}

a.controls::before {
    transition: all .3s ease-in-out;
}

a.controls::before {
    font-family: 'icomoon';
    display: flex;
    justify-content: center;
    place-items: center;
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 1px solid #1F4650;
    font-size: 14px;
    font-weight: 900;
    color: #1F4650;
}

a.controls.prev {
    padding-left: 42px;
}

a.controls.next {
    padding-right: 42px;
}

a.controls.prev:hover::before {
    transform: translateX(-10px);
}

a.controls.next:hover::before {
    transform: translateX(10px);
}

a.controls.prev::before {
    left: 0;
}

a.controls.next::before {
    right: 0;
}

a.controls i {
    font-style: normal;
}

.bottom-foot-bg {
    padding: 30px 0;
    background-color: #0F1E41;
}

ul.footer-nav {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-left: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    width: 100%;

}

ul.policy-docs {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-left: 0;
}

ul.footer-nav li a,
ul.policy-docs li a {
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    text-wrap: nowrap;
    transition: all .3s ease-in-out;
}

ul.footer-nav li a:hover,
ul.policy-docs li a:hover {
    color: #43A9AC;
}


.bottom-socials {
    display: flex;
    justify-content: space-between;
}

.bottom-socials p {
    color: #fff;
}

.social-icons {
    display: flex;
    gap: 8px;
}

@media screen and (max-width:1400px) {
    .custom-breaks .col-lg-2 {
        width: 100%;
    }

    .custom-breaks .col-lg-10 {
        width: 100%;
    }
}

@media screen and (max-width:1200px) {
    .bottom-socials {
        flex-direction: column-reverse;
        gap: 10px;
    }
}



@media screen and (max-width: 991px) {
    ul.footer-nav {
        margin-bottom: 0;
    }

    ul.footer-nav,
    ul.policy-docs {
        flex-direction: column;
        border-bottom: none;
        gap: 15px;
    }

    .bottom-socials {
        justify-content: start;
        gap: 15px;
    }
}

@media screen and (max-width: 600px) {
    a.controls i {
        display: none;
    }
}